<!DOCTYPE html>
<html>

<head>
    <title>Confirmation de réservation</title>
    <style>
        body {
            background-color: #F6F6F6;
            padding: 2rem 0 4rem 0;
        }

        #titleBloc {
            display: flex;
            justify-content: center;
        }

        h1 {
            color: #18b3b3;
            font-size: 1.1rem;
            padding: 0.7rem;
            width: 60%;
            margin: auto;
            text-align: center;
            border-radius: 0.5em;
            background-color: white;
            margin: 1.6rem 0 1.6rem 0;
        }

        #mainContent>div.flex {
            display: flex;
            flex: 1;
            justify-content: space-between;
            margin: 1rem;
        }

        #mainContent {
            width: 50%;
            margin: auto;
            background-color: white;
            padding: 1.5rem;
            font-weight: bold;
            border-radius: 0.5rem;
        }

        #imgBlock {
            display: flex;
            justify-content: center;
        }
    </style>
</head>

<body>
    <div id="imgBlock">
        <img src="cid:proxiadLogo" alt="logo proxiad" width="160" />
    </div>
    <div id="titleBloc">
        <h1>{{title}}</h1>
    </div>
    <div id="mainContent">
        <div class="flex"><span>Emplacement</span><span>{{bookingObjectName}}</span></div>
        {{#if location}} <div class="flex"><span>Localisation</span><span>{{location}}</span></div>{{/if}}
        <div class="flex"><span>Date de début</span><span>{{checkInDate}}</span></div>
        {{#if checkInTime}}<div class="flex"><span>Heure de début</span><span>{{checkInTime}}</span></div>
        {{/if}}
        <div class="flex"><span>Date de fin</span><span>{{checkOutDate}}</span></div>
        {{#if checkOutTime}} <div class="flex"><span>Heure de fin</span><span>{{checkOutTime}}</span></div>
        {{/if}}
    </div>
</body>

</html>